<div class='form-group row'>

  <label class='col-sm-2 col-form-label'>Filter By:</label>

  <div class='col-sm-10'>
    <input [(ngModel)]='filter' class='form-control'>
  </div>

</div>
<div class="table-responsive desktop">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th> Imagem</th>
        <th> Quantidade</th>
        <th> Produto</th>
        <th> telefone</th>
        <th> local</th>
        <th> observacao</th>
        <th> isencao</th>
        <th> hora</th>
        <th class="text-center"> Ações </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let pedido of filteredPedidos; let i= index'>
        <div *ngIf=" i < 4 ? {style='background-color: aquamarine;'}">

      <td>
            <img [src]='pedido.produto.imageUrl' class="figure-img img-fluid
              rounded"
              alt="..."
              width="100"
              height="70">
          </td>
        <td><input [(ngModel)]="pedido.quantidade" type="text" style='color:
            red; width: 60px'
            (ngModelChange)="atualizarCarrinho(carrinho)" class="nav-link">
        </td>

        <td>{{ pedido.produto.name }} </td>
        <td>{{ pedido.telefone }} </td>
        <td>{{ pedido.local }} </td>

        <td><input [(ngModel)]="pedido.observacao" type="text" style='color:
            red'
            (ngModelChange)="atualizarPedido(pedido)" class="nav-link">
        </td>

        <td>{{ pedido.isencao }} </td>
        <td>{{ pedido.releaseDate | date:'hh:mm:ss'}} </td>
        <td class="text-center">
          <button (click)="openPopup( pedido.id )">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25"
              height="25">
          </button>
          <button routerLink="/pedido/delete/{{ pedido.id }}">
            <img src='/assets/images/botao-cancelar.jpg' class="figure-img
              img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
          <button (click)="entregaCreate( pedido.id )">
            <img src='/assets/images/garcon.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25"
              height="25">
          </button>
        </td>
      </div>
    </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive mobile">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th style='width: 10%'> Imagem</th>
        <th style='width: 30%'> Nome</th>
        <th style='width: 10%' class="text-center"> Ações </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let pedido of filteredPedidos'>
          <td>
            <img [src]='pedido.produto.imageUrl' class="figure-img img-fluid
              rounded"
              alt="..."
              width="100"
              height="70">
          </td>
        <td>{{ pedido.produto.name }} </td>
        <td class="text-center">
          <button (click)="openPopup( pedido.id )">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25"
              height="25">
          </button>
          <button routerLink="/pedido/delete/{{ pedido.id }}">
            <img src='/assets/images/botao-cancelar.jpg' class="figure-img
              img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
          <button (click)="entregaCreate( pedido.id )">
            <img src='/assets/images/garcon.jpg' class="figure-img img-fluid
              rounded" alt="..." width="25"
              height="25">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display': displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detalhes do Pedido</h4>
        <button type="button" class="btn btn-danger"
          (click)="closePopup()">
          Fechar
        </button>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Avaliação:</span>
        <span><app-star [rating]="produto.rating"></app-star></span>

      </div>
      <div class="modal-body row">
        <img [src]='produto.imageUrl' class="figure-img img-fluid rounded"
          alt="..."
          width="400"
          height="400">
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Quantidade:</span>
        <span style='color: red;'>{{ pedido.quantidade }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Nome:</span>
        <span>{{ produto.name }}</span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Observação:</span>
        <span style='color: red;'>{{ pedido.observacao }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Descrição:</span>
        <span> {{ produto.description }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Preço:</span>
        <span>{{ produto.price }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Tempo de Preparação:</span>
        <span>{{ produto.preparationTime }} </span>
      </div>

      <div class="modal-body">
        <p>Os ingredientes encontrados na refeição são:</p>
        <ul>
          <li>alho</li>
          <li>cebola</li>
          <li>coentro</li>
          <li>maionese</li>
          <li>manjericão</li>
        </ul>
      </div>
    </div>
  </div>
</div>
