<app-caminho-menu></app-caminho-menu>
<br>
<!--
<div class="mobile"  style='background-color: aquamarine; text-align-last: center;'>
  <span style='font-weight: bolder;'>Módulo: {{ modulo }} </span>
  <span style='font-weight: bolder;'>Local: {{ local }} </span>
  <span> </span>
</div> -->

<div class='form-group row container mt-5' style='margin-bottom: 1em;'>
  <label class='col-sm-2 col-form-label' style="width: 6em;">Filter By:</label>
  <input [(ngModel)]='filter' class='form-control' style="width: 15em;">
</div>

<!-- DESKTOP -->

<div class='table-responsive desktop'>
  <table class="table table-bordered table-striped">
  <thead>
      <tr>
        <th style='width: 5%'> Imagem</th>
        <th style='width: 5%'> Quantidade</th>
        <th style='width: 25%'> Produto</th>
        <th style='width: 10%'> Observacao</th>
        <th style='width: 5%'> Local</th>
        <th style='width: 5%'> Hora</th>
        <!-- <th style='width: 20%' class="text-center"> Ações </th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let carrinho of filteredCarrinhos' (click)="openPopup( carrinho.id )" style="cursor: pointer;">
        <td>
            <img [src]='carrinho.produto.imagemUrl' class="figure-img img-fluid rounded"
            alt="..."
            width="100"
            height="70"
            style="margin-top: 1em;">
        </td>
        <td>
          <span style='font-weight: bolder; color:blue'>Quantidade:</span>
          <div style='display: flex; justify-content: center; align-items: center; margin-top: 0.3em'>
            <a style="width: 2em; margin-left: 0.5em; " (click)="minus()"><i
              class="fa
              fa-minus" style="color:red"></i></a>
              <input style="width: 3em;" [(ngModel)]='carrinho.quantidade'
              class='form-control'>
              <a style="width: 2em; margin-left: 0.5em" (click)="plus()"><i
                class="fa
                fa-plus" style="color:red"></i></a>
          </div>
      </td>
        <td><p>{{ carrinho.produto.nome }}</p> <small style="font-size: 10px; text-decoration: underline;">Mais infomações.</small></td>

        <td><input [(ngModel)]="carrinho.observacao" type="text" style=' max-width: 65%;'
            (ngModelChange)="atualizarCarrinho(carrinho)" class="nav-link">
        </td>

        <td>{{ carrinho.local }} </td>
        <td>{{ carrinho.dataCriacao | date:'hh:mm:ss'}} </td>
        
        <!-- <td  class="text-center">
          <button (click)="openPopup( carrinho.id )">
            <img src='/assets/images/lupa.jpg' class="figure-img
              img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
          <button routerLink = "/carrinho/delete/{{ carrinho.id }}">
            <img src='/assets/images/botao-cancelar.jpg' class="figure-img img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
          <button (click)="pedidoCreate( carrinho.id );">
            <img src='/assets/images/pedido.jpg' class="figure-img img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>

<!-- LAPTOP -->

<div class='table-responsive laptop'>
  <table class="table table-bordered table-striped">
  <thead>
      <tr>
        <th style='width: 5%'> Imagem</th>
        <th style='width: 5%'> Quantidade</th>
        <th style='width: 25%'> Produto</th>
        <th style='width: 10%'> Observacao</th>
        <th style='width: 5%'> Local</th>
        <th style='width: 5%'> Hora</th>
       <!--  <th style='width: 20%' class="text-center"> Ações </th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let carrinho of filteredCarrinhos' (click)="openPopup( carrinho.id )" style="cursor: pointer;">
        <td>
            <img [src]='carrinho.produto.imagemUrl' class="figure-img img-fluid rounded"
            alt="..."
            width="100"
            height="70">
        </td>
        <td><input [(ngModel)]="carrinho.quantidade" type="text" style='color: red; width: 60px;  font-size: 14px;'
          (ngModelChange)="atualizarCarrinho(carrinho)" class="nav-link">
      </td>
        <td><p>{{ carrinho.produto.nome }}</p> <small style="font-size: 10px; text-decoration: underline;">Mais infomações.</small></td>

        <td><input [(ngModel)]="carrinho.observacao" type="text" style=' max-width: 65%;'
            (ngModelChange)="atualizarCarrinho(carrinho)" class="nav-link">
        </td>

        <td>{{ carrinho.local }} </td>
        <td>{{ carrinho.dataCriacao | date:'hh:mm:ss'}} </td>
        
        <!-- <td  class="text-center">
          <button (click)="openPopup( carrinho.id )">
            <img src='/assets/images/lupa.jpg' class="figure-img
              img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
          <button routerLink = "/carrinho/delete/{{ carrinho.id }}">
            <img src='/assets/images/botao-cancelar.jpg' class="figure-img img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
          <button (click)="pedidoCreate( carrinho.id );">
            <img src='/assets/images/pedido.jpg' class="figure-img img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>

<!-- TABLET -->

<div class='table-responsive tablet'>
  <table class="table table-bordered table-striped">
  <thead>
      <tr>
        <th style='width: 5%'> Imagem</th>
        <th style='width: 5%'> Quantidade</th>
        <th style='width: 25%'> Produto</th>
        <th style='width: 10%'> Observacao</th>
        <th style='width: 5%'> Local</th>
        <th style='width: 5%'> Hora</th>
        <!-- <th style='width: 20%' class="text-center"> Ações </th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let carrinho of filteredCarrinhos' (click)="openPopup( carrinho.id )" style="cursor: pointer;">
        <td>
            <img [src]='carrinho.produto.imagemUrl' class="figure-img img-fluid rounded"
            alt="..."
            width="100"
            height="70">
        </td>
        <td><input [(ngModel)]="carrinho.quantidade" type="text" style='color: red; width: 60px;  font-size: 14px;'
          (ngModelChange)="atualizarCarrinho(carrinho)" class="nav-link">
      </td>
        <td><p>{{ carrinho.produto.nome }}</p> <small style="font-size: 10px; text-decoration: underline;">Mais infomações.</small></td>

        <td><input [(ngModel)]="carrinho.observacao" type="text" style=' max-width: 65%;'
            (ngModelChange)="atualizarCarrinho(carrinho)" class="nav-link">
        </td>

        <td>{{ carrinho.local }} </td>
        <td>{{ carrinho.dataCriacao | date:'hh:mm:ss'}} </td>
        
        <!-- <td  class="text-center">
          <button (click)="openPopup( carrinho.id )">
            <img src='/assets/images/lupa.jpg' class="figure-img
              img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
          <button routerLink = "/carrinho/delete/{{ carrinho.id }}">
            <img src='/assets/images/botao-cancelar.jpg' class="figure-img img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
          <button (click)="pedidoCreate( carrinho.id );">
            <img src='/assets/images/pedido.jpg' class="figure-img img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>

<!-- MOBILE -->

<div class='table-responsive mobile'>
  <table class="table table-bordered table-striped">
  <thead>
      <tr>
        <th style='width: 10%; font-size: 10px;' > Imagem</th>
        <th style='width: 10%; font-size: 10px;' > Qtde</th>
        <th style='width: 30%; font-size: 10px;' > Nome</th>
        <!-- <th style='width: 10%; font-size: 10px;' class="text-center"> Ações </th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let carrinho of filteredCarrinhos' (click)="openPopup( carrinho.id )" style="cursor: pointer;">
        <td  style='width: 10%; font-size: 10px;'>
            <img [src]='carrinho.produto.imagemUrl' class="figure-img img-fluid rounded"
            alt="..."
            width="100"
            height="70">
        </td>
        <td>
          <input [(ngModel)]="carrinho.quantidade" type="text" style='color: red; width: 60px;  font-size: 10px;'
            (ngModelChange)="atualizarCarrinho(carrinho)" class="nav-link">
        </td>
        <td><p>{{ carrinho.produto.nome }}</p> <small style="font-size: 10px; text-decoration: underline; width: 30%;">Mais infomações.</small></td>
        
       <!--  <td class="text-center"  style='width: 10%; font-size: 10px;'>
          <button (click)="openPopup( carrinho.id )">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
          <button routerLink = "/carrinho/delete/{{ carrinho.id }}">
            <img src='/assets/images/botao-cancelar.jpg' class="figure-img img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
          <button (click)="pedidoCreate( carrinho.id );">
            <img src='/assets/images/pedido.jpg' class="figure-img img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>

<!-- MOBILE PEQUENO -->

<div class='table-responsive mobile-pequeno'>
  <table class="table table-bordered table-striped">
  <thead>
      <tr>
        <th style='width: 10%; font-size: 10px;' > Imagem</th>
        <th style='width: 10%; font-size: 10px;' > Qtde</th>
        <th style='width: 30%; font-size: 10px;' > Nome</th>
        <!-- <th style='width: 10%; font-size: 10px;' class="text-center"> Ações </th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let carrinho of filteredCarrinhos' (click)="openPopup( carrinho.id )" style="cursor: pointer;">
        <td  style='width: 10%; font-size: 10px;'>
            <img [src]='carrinho.produto.imagemUrl' class="figure-img img-fluid rounded"
            alt="..."
            width="100"
            height="70">
        </td>
        <td>
          <input [(ngModel)]="carrinho.quantidade" type="text" style='color: red; width: 60px;  font-size: 10px;'
            (ngModelChange)="atualizarCarrinho(carrinho)" class="nav-link">
        </td>
        <td><p>{{ carrinho.produto.nome }}</p> <small style="font-size: 10px; text-decoration: underline; width: 30%;">Mais infomações.</small></td>
        
        <!-- <td class="text-center"  style='width: 10%; font-size: 10px;'>
          <button (click)="openPopup( carrinho.id )">
            <img src='/assets/images/lupa.jpg' class="figure-img img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
          <button routerLink = "/carrinho/delete/{{ carrinho.id }}">
            <img src='/assets/images/botao-cancelar.jpg' class="figure-img img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
          <button (click)="pedidoCreate( carrinho.id );">
            <img src='/assets/images/pedido.jpg' class="figure-img img-fluid rounded" alt="..." width="25"
              height="25">
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
<!--
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display': displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detalhes do Produto</h4>
        <button type="button" class="btn btn-danger"
          (click)="closePopup()">
          Fechar
        </button>
      </div>
      <div class="modal-body row">
        Avaliação: <app-star [rating]="produto.avaliacao"></app-star>

      </div>
      <div class="modal-body row">
        <img [src]='produto.imagemUrl' class="figure-img img-fluid rounded"
          alt="..."
          width="400"
          height="400">
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Quantidade:</span>
        <input [(ngModel)]="carrinho.quantidade" type="text" style='color: red; width: 50%'  mask='000'
        (blur)="atualizarCarrinho(carrinho)" class="nav-link">
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Nome:</span>
        <span>{{ produto.nome }}</span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Observação:</span>
        <input [(ngModel)]="carrinho.observacao" type="text" style='color: red; width: 100%'
        (blur)="atualizarCarrinho(carrinho)" class="nav-link">
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Descrição:</span>
        <span> {{ produto.descricao }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Local:</span>
        <span>{{ carrinho.local }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Preço:</span>
        <span>{{ produto.preco }} </span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Tempo de Preparação:</span>
        <span>{{ produto.tempoPreparacao }} </span>
      </div>


      <div class="modal-body">
        <p>Os ingredientes encontrados na refeição são:</p>
        <ul>
          <li>alho</li>
          <li>cebola</li>
          <li>coentro</li>
          <li>maionese</li>
          <li>manjericão</li>
        </ul>
      </div>
    </div>
  </div>
</div>
-->

<!-- Detalhes do produto/pedido -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display': displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style='background-color:rgb(246, 253, 232)'>
      <div class="modal-header" style='background-color:rgb(225, 240, 252)'>
        <button routerLink = "/carrinho/delete/{{ carrinho.id }}">
          Deletar
        </button>
        <button (click)="pedidoCreate( carrinho.id );">
          Confirmar
        </button>
        <button type="button" class="btn btn-danger"
          (click)="closePopup()">
          Fechar
        </button>
      </div>
      <div class="modal-body row">
        Avaliação: <app-star [rating]="produto.avaliacao"></app-star>
      </div>
      <div class="modal-body row">
        <img [src]='produto.imagemUrl' class="figure-img img-fluid rounded"
          alt="..."
          width="400"
          height="400">
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Nome:</span>
        <span>{{ produto.nome }}</span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Descrição:</span>
        <span> {{ produto.descricao }} </span>
      </div>
      <div class="modal-body">
        <div class="row">
          <span class="col-4" style='font-weight: bolder; color:blue'>Preço
            Unitário:</span>
          <span class="col-8" style='font-weight: bolder; color:blue'>Preço
            Total:</span>
        </div>
        <div class="row">
          <span class="col-4"> {{ produto.preco }} </span>
          <span class="col-8">{{ produto.preco * carrinho.quantidade }}</span>
        </div>
      </div>

      <div class="modal-body row">
        <span style='font-weight: bolder; color:blue'>Quantidade:</span>
        <a style="width: 2em; margin-top: 0.5em" (click)="minus()"><i
            class="fa
            fa-minus" style="color:red"></i></a>
        <input style="width: 3em;" [(ngModel)]='carrinho.quantidade'
          class='form-control'>
        <a style="width: 2em; margin-top: 0.5em" (click)="plus()"><i
            class="fa
            fa-plus" style="color:red"></i></a>
      </div>
      <div class="modal-body row">
        <div class='form-group row container'>
          <span style='font-weight: bolder; color:blue'>Observações:</span>
          <div>
            <textarea [(ngModel)]='carrinho.observacao'
              class='form-control'></textarea>
          </div>
        </div>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Tempo de Preparação:</span>
        <span>{{ produto.tempoPreparacao }} </span>
      </div>

      <div class="modal-body row">
        <span style='font-weight: bolder;'>Os ingredientes encontrados
          na
          refeição são:</span>
        <div>
          <ul>
            <li>alho</li>
            <li>cebola</li>
            <li>coentro</li>
            <li>maionese</li>
            <li>manjericão</li>
          </ul>
        </div>
      </div>
      <div class="modal-content" style='background-color:rgb(225, 240,
        252)'>
        <div class="modal-header" style='background-color:rgb(225, 240, 252)'>
          <button routerLink = "/carrinho/delete/{{ carrinho.id }}">
            Deletar
          </button>
          <button (click)="pedidoCreate( carrinho.id );">
            Confirmar
          </button>
          <button type="button" class="btn btn-danger"
            (click)="closePopup()">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
