
<div class= 'container mt-4'>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="col-sm-11" style="margin-left: 20px">
      <a [routerLink]="['/cardapioPrincipal']" class="navbar-brand">Quiosque
        NuButikin</a>
    </div>
    <div style="background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;">
      <button (click)="openPopup()" style="border: none; background: none;">
        <img src='/assets/images/help.png' alt="..." width="25 " height="28">
    </button>
  </div>

    <!--

    <button class="navbar-toggler" type="button"
      (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
      [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto w-75">
        <li class="nav-item w-25">
          <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active"
            class="nav-link">Cardapio</a>
        </li>
        <li class="nav-item w-25">
          <a [routerLink]="['/carrinho']" routerLinkActive="active"
            class="nav-link">Pedido</a>
        </li>
        <li class="nav-item w-25">
          <a [routerLink]="['/pedido']" routerLinkActive="active"
            class="nav-link">Cozinha</a>
        </li>
        <li class="nav-item w-25">
          <a [routerLink]="['/entrega']" routerLinkActive="active"
            class="nav-link">Entrega</a>
        </li>
        <li class="nav-item w-20">
          <a [routerLink]="['/conta']" routerLinkActive="active"
            class="nav-link">Minha Conta</a>
        </li>
      </ul>
    </div>
    -->
  </nav>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display': displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ajuda</h4>
        <button type="button" class="btn btn-danger"
          (click)="closePopup()">
          Fechar
        </button>
      </div>
      <div class="modal-body">
        <img mat-card-md-image src="/assets/images/menu.jpg" alt="Cardápio">
      </div>

      <div class="modal-body">
        <p>No cardápio você encontra os pratos da casa:</p>
        <ul>
          <li>alho</li>
          <li>cebola</li>
          <li>coentro</li>
          <li>maionese</li>
          <li>manjericão</li>
        </ul>
      </div>
      <div class="modal-body">
        <img mat-card-md-image src="/assets/images/carrinho.jpg" alt="Cardápio">
      </div>

      <div class="modal-body">
        <p>No pedido você confere e acompanha o status do seu pedido:</p>
        <ul>
          <li>pendente</li>
          <li>fila de preparação</li>
          <li>em preparação</li>
          <li>fila de entrega</li>
          <li>entregue</li>
        </ul>
      </div>
    </div>
  </div>
</div>
