
<div class="row">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="col-sm-3">
      <a [routerLink]="['/cardapioPrincipal']" class="navbar-brand">Quiosque
        NuButikin</a>
    </div>
    <button class="navbar-toggler" type="button"
      (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse"
      [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto w-75" >
        <li class="nav-item  w-25">
          <a [routerLink]="['/cardapioPrincipal']" routerLinkActive="active"
            class="nav-link">Cardapio</a>
        </li>
        <li class="nav-item  w-25">
          <a [routerLink]="'carrinho'" routerLinkActive="active"
            class="nav-link">Carrinho</a>
        </li>
        <li class="nav-item  w-25">
          <a [routerLink]="['/pedido']" routerLinkActive="active"
            class="nav-link">Pedido</a>
        </li>
        <li class="nav-item  w-25">
          <a [routerLink]="['/entrega']" routerLinkActive="active"
            class="nav-link">Entrega</a>
        </li>
        <li class="nav-item  w-20">
          <a (click)="openPopup()"
            class="nav-link">Minha Conta</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div 
  class="modal" tabindex="-1"
  role="dialog"
  [ngStyle]="{'display': displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgb(249, 255, 166);" >
      <div class="modal-header">
        <h4 class="modal-title">Minha Conta</h4>
        <button type="button" class="btn btn-danger"
          (click)="closePopup()">
          Fechar
        </button>
      </div>
      <div class="table-responsive-sm">
        <table class="table table-bordered table-striped desktop" >
        <thead>
          <tr class="table-primary">
            <th style="border: 1px solid black; font-size: 16px;"> qtde </th>
            <th style="border: 1px solid black; font-size: 16px;"> nome &nbsp;&nbsp;</th>
            <th style="border: 1px solid black; font-size: 16px;"> unitário &nbsp;&nbsp;</th>
            <th style="border: 1px solid black; font-size: 16px;"> total prod </th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor='let conta of contas' desktop>
            <td style="border: 1px solid black; font-size: 16px;">{{ conta.quantidade }}
              &nbsp;&nbsp;</td>
            <td style="border: 1px solid black; font-size: 16px;">{{ conta.pedido.produto.name }} &nbsp;&nbsp;</td>
            <td style="border: 1px solid black; font-size: 16px;">{{ conta.valorProdutoUnitario
              | currency:'R$' }} &nbsp;&nbsp;</td>
            <td style="border: 1px solid black; font-size: 16px;;">{{ conta.valorProdutoTotal |
              currency:'R$' }} &nbsp;&nbsp;</td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="table-primary">
            <td colspan="3" style="border: 1px solid black; text-align:
              right;"> TOTAL &nbsp;&nbsp;</td>
            <td style="border: 1px solid black; text-align: right;">{{
              contaValorTotal | currency:'R$' }} &nbsp;&nbsp;</td>
          </tr>
        </tfoot>
      </table>
    </div>
    </div>
  </div>
</div>

<div 
  class="modal" tabindex="-1"
  role="dialog"
  [ngStyle]="{'display': displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgb(249, 255, 166);" >
      <div class="modal-header">
        <h4 class="modal-title">Minha Conta</h4>
        <button type="button" class="btn btn-danger"
          (click)="closePopup()">
          Fechar
        </button>
        <p> &nbsp;</p>
        <button type="button" class="btn btn-danger"
          (click)="closePopup()">
          Fechar
        </button>
      </div>
      <div class="table-responsive-sm">
        <table class="table table-bordered table-striped mobile">
        <thead>
          <tr class="table-primary">
            <th style="border: 1px solid black; font-size: 10px;"> qtde </th>
            <th style="border: 1px solid black; font-size: 10px;"> nome &nbsp;&nbsp;</th>
            <th style="border: 1px solid black; font-size: 10px;"> unitário &nbsp;&nbsp;</th>
            <th style="border: 1px solid black; font-size: 10px;"> total prod </th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor='let conta of contas'>
            <td style="border: 1px solid black; font-size: 10px;">{{ conta.quantidade }}
              &nbsp;&nbsp;</td>
            <td style="border: 1px solid black; font-size: 10px;">{{ conta.pedido.produto.name }} &nbsp;&nbsp;</td>
            <td style="border: 1px solid black; font-size: 10px;">{{ conta.valorProdutoUnitario
              | currency:'R$' }} &nbsp;&nbsp;</td>
            <td style="border: 1px solid black; font-size: 10px;;">{{ conta.valorProdutoTotal |
              currency:'R$' }} &nbsp;&nbsp;</td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="table-primary">
            <td colspan="3" style="border: 1px solid black; text-align:
              right;"> TOTAL &nbsp;&nbsp;</td>
            <td style="border: 1px solid black; text-align: right;">{{
              contaValorTotal | currency:'R$' }} &nbsp;&nbsp;</td>
          </tr>
        </tfoot>
      </table>
    </div>
    </div>
  </div>
</div>
